<div class="row">
    <!-- Ornaments Header Pagination-->
    <div id="the-wrap">
      <div class="col-md-3">
        <!--- red ball--->
        <div class="ball-wrapper">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="red-ball"></div>
          </div>
        </div>
        <!---- end of wrapper---->

        <!---green ball---->
        <div class="col-md-3">
        <div class="ball-wrapper">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="green-ball"></div>
        </div>
      </div>
        <!---- end of wrapper---->

        <!---blue ball--->
        <div class="col-md-3">
        <div class="ball-wrapper">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="blue-ball"></div>
        </div>
      </div>
        <!---- end of wrapper---->

        <!---white ball--->
        <div class="col-md-3">
        <div class="ball-wrapper">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="white-ball"></div>
        </div>
      </div>
        <!---- End of Wrapper---->
    </div>
</div>
<!-- End of Ornament Row -->

<!-- Client Forms Start-->
<div id="clientDetails" class="container">
  <div id="container" class="left-form">
    <h1 class="form-header">&bull; Deets &bull;</h1>
    <h3 class="form-header">Tell us about <span class="highlight">YOU</span>, not about the letter recipient</h3>
    <div class="underline">
    </div>
    <div class="icon_wrapper">
    </div>
    <form action="#" method="post" class="clientDetails-form">
      <div class="name">
        <label for="name"></label>
        <input class="clientDetails-input" type="text" placeholder="First Name" name="name" id="name_input" required>
      </div>
      <div class="name">
        <label for="name"></label>
        <input class="clientDetails-input" type="text" placeholder="Last Name" name="name" id="name_input" required>
      </div>
      <div class="email">
        <label for="email"></label>
        <input class="clientDetails-input" type="email" placeholder="Email" name="email" id="email_input" required>
      </div>
      <div class="email">
        <label for="email"></label>
        <input class="clientDetails-input" type="email" placeholder="Confirm Email" name="email" id="email_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input class="clientDetails-input" type="text" placeholder="Phone Number" name="telephone" id="telephone_input" required>
      </div>
    </form><!-- // End form -->
  </div><!-- // End #container -->



  <div id="container">
    <h1 class="form-header">&bull; Delivery &bull;</h1><br>
    <h3 class="form-header">Where is <span class="highlight">Santa</span> sending it?</h3>
    <div class="underline">
    </div>
    <div class="icon_wrapper">
    </div>
    <form action="#" method="post" class="clientDetails-form">
      <div class="address">
        <label for="address"></label>
        <input class="clientDetails-input" type="text" placeholder="Address 1" name="address1" id="address_input" required>
      </div>
      <div class="address">
        <label for="address"></label>
        <input class="clientDetails-input" type="text" placeholder="Address 2" name="address2" id="address_input" required>
      </div>
      <div class="address">
        <label for="address"></label>
        <input class="clientDetails-input" type="text" placeholder="City" name="city" id="address_input" required>
      </div>
      <div class="address">
        <label for="address"></label>
        <input class="clientDetails-input" type="text" placeholder="State" name="" id="address_input" required>
      </div>
      <div class="zip">
        <label for="name"></label>
        <input class="clientDetails-input" type="text" placeholder="Country" name="country" id="telephone_input" required>
      </div>
      <button class="snip1086 red"><span>Next</span><i class="ion-arrow-right-c"></i></button>
    </form><!-- // End form -->
  </div><!-- // End #container -->
</div>
