<!-- Ornament Header -->
<div ng-include="'views/ornamentTemp.html'"></div>

<!-- TODO Line the images up 2x2 and give them a background and boxshadow -->
<div id="products">
    <div class="container">
        <div class="row letter-workshop-header text-center">
            <div class="col-xs-12">
              <h2>Welcome to
                  <span class="highlight">Santa's</span>
                  Letter Workshop!</h2>
              <p>Select Your Letter Package</p>
              <hr>
          </div>
        </div>

        <div class="row product-chooser">
            <div class="col-sm-12 col-md-4 col-lg-4" ng-repeat="product in products">
                <div ng-class="{'selected-product':isSelected === $index}" class="product-chooser-item">
                    <img ng-src="{{product.product_image}}" class="img-rounded img-responsive" alt="">
                    <div>
                        <span class="title">{{product.product_name}}</span>
                        <span class="description">{{product.product_desc}}</span>
                        <button href="#letter-workshop" du-smooth-scroll du-scrollspy duration="2500" class="btn btn-success" ng-click="savePackageData({packageData: product}); activeProduct($index)">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--List Product Section End-->

<div id="letter-workshop">
  <div class="container-fluid">

    <div class="row letter-workshop-header text-center">
      <div class="col-xs-12">
        <h2>Watch as
            <span class="highlight">Santa</span>
            Writes your letter right before your eyes!</h2>
        <p>Personalize Your Letter By Filling Out The Form</p>
        <hr>
      </div>
    </div>

    <div class="row">
            <div class="col-lg-6" id="personalized-letter">
              <div class="tabbable-panel">
  <div class="tabbable-line">
    <ul class="nav nav-tabs ">
      <li class="active">
        <button class="tab-btn" href="#tab_1" data-toggle="tab">
        Template 1 </button>
      </li>
      <li>
        <button class="tab-btn" href="#tab_2" data-toggle="tab">
        Template 2 </button>
      </li>
      <li>
        <button class="tab-btn" href="#tab_3" data-toggle="tab">
        Template 3 </button>
      </li>
      <li>
        <button class="tab-btn" href="#tab_4" data-toggle="tab">
        Template 4 </button>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <p style="text-align: center">
          Template 1
        </p>
        <p>
          <p>Dear
              {{letterData.childName}},</p>

          <p>Ho, Ho, Ho, Merry Christmas!
              {{letterData.ageToShow.list}}</p>

          <p>Your
              {{letterData.behaviorToShow.behavior}}
              told me you’ve been a very good
              {{letterData.genderToShow.gender}}
              this year, and that you would like
              {{letterData.prefixToShow.prefix}}
              {{letterData.presentType}}
              for Christmas. Well, I can’t promise every child will get what they ask for, but I can assure you, you’ll have a wonderful Christmas with your kind, loving family.</p>

          <p>{{letterData.childName}}, I was walking through the toy workshop earlier today, when I saw The Elves wrapping a present for your
              {{letterData.friendToShow.friend}},
              {{letterData.friendName}}. I can’t tell you what I saw them wrapping because it will spoil the surprise but I can guarantee that
              {{letterData.friendName}}
              will be delighted with it on Christmas morning!</p>

          <p>{{letterData.paragraphToShow.para}}</p>

          <p>{{letterData.childName}}, make sure you get to bed nice and early on Christmas Eve because Rudolph just showed me the route we’ll be flying, and guess where we’ll be coming? That’s right, to your house!</p>

          <p>Merry Christmas!<br>
              Love,<br>
              Santa Claus</p>
        </p>
      </div>
      <div class="tab-pane" id="tab_2">
        <p style="text-align: center">
          Template 2
        </p>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
        </p>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
        </p>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
        </p>
        <p>
          Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
        </p>
      </div>
      <div class="tab-pane" id="tab_3">
        <p style="text-align: center">
          Template 3
        </p>
        <p>
          Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
        </p>
        <p>
          Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
        </p>
        <p>
          Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
        </p>
        <p>
          Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
        </p>
      </div>
      <div class="tab-pane" id="tab_4">
        <p style="text-align: center">
          Template 4
        </p>
        <p>
          Nihil kitsch sartorial, chambray quinoa af deep v gastropub banh mi velit whatever irony direct trade kale chips brunch. Portland synth kinfolk, iceland yuccie chillwave 3 wolf moon copper mug duis butcher. Letterpress elit assumenda fap, iPhone selvage tattooed veniam small batch quinoa direct trade pitchfork.
        </p>
        <p>
          Nihil kitsch sartorial, chambray quinoa af deep v gastropub banh mi velit whatever irony direct trade kale chips brunch. Portland synth kinfolk, iceland yuccie chillwave 3 wolf moon copper mug duis butcher. Letterpress elit assumenda fap, iPhone selvage tattooed veniam small batch quinoa direct trade pitchfork.
        </p>
        <p>
          Nihil kitsch sartorial, chambray quinoa af deep v gastropub banh mi velit whatever irony direct trade kale chips brunch. Portland synth kinfolk, iceland yuccie chillwave 3 wolf moon copper mug duis butcher. Letterpress elit assumenda fap, iPhone selvage tattooed veniam small batch quinoa direct trade pitchfork.
        </p>
        <p>
          VHS cred anim master cleanse photo booth quinoa authentic viral. Portland raclette lumbersexual coloring book, literally consequat flexitarian  veniam chicharrones wolf nostrud.
        </p>
      </div>
    </div>
  </div>
</div>
                <!-- <img class="img-responsive img-shadow" ng-src="img/scLetterHead.jpg"/>
                <div class="personalized-content-wrapper">

                    <p>Dear
                        {{letterData.childName}},</p>

                    <p>Ho, Ho, Ho, Merry Christmas!
                        {{letterData.ageToShow.list}}</p>

                    <p>Your
                        {{letterData.behaviorToShow.behavior}}
                        told me you’ve been a very good
                        {{letterData.genderToShow.gender}}
                        this year, and that you would like
                        {{letterData.prefixToShow.prefix}}
                        {{letterData.presentType}}
                        for Christmas. Well, I can’t promise every child will get what they ask for, but I can assure you, you’ll have a wonderful Christmas with your kind, loving family.</p>

                    <p>{{letterData.childName}}, I was walking through the toy workshop earlier today, when I saw The Elves wrapping a present for your
                        {{letterData.friendToShow.friend}},
                        {{letterData.friendName}}. I can’t tell you what I saw them wrapping because it will spoil the surprise but I can guarantee that
                        {{letterData.friendName}}
                        will be delighted with it on Christmas morning!</p>

                    <p>{{letterData.paragraphToShow.para}}</p>

                    <p>{{letterData.childName}}, make sure you get to bed nice and early on Christmas Eve because Rudolph just showed me the route we’ll be flying, and guess where we’ll be coming? That’s right, to your house!</p>

                    <p>Merry Christmas!<br>
                        Love,<br>
                        Santa Claus</p>
                </div> -->
            </div>

            <div class="col-lg-6">
                <div id="santaQ-container">
                    <h1 class="form-header">&bull; Personalization &bull;</h1><br>
                    <h3 class="form-header">Answer the following questions so<span class="highlight">
                            Santa</span>
                        can personalize your letter!</h3>
                    <div class="underline"></div>
                    <form name="letterDetails">
                        <div class="userDetails-form">

                            <input ng-model="letterData.childName" type="text" placeholder="Childs First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Childs First Name'" name="field_child_name">

                            <div class="form-group">
                                <select ng-options="item.name for item in selectAgeFilter" ng-model="letterData.ageToShow" name="field_age" class="field-input-age">
                                    <option value="" disabled hidden selected>Childs Age</option>
                                </select>

                                <select ng-options="item.name for item in selectGenderFilter" ng-model="letterData.genderToShow" name="field_present_prefix" class="field-select">
                                    <option value="" disabled hidden selected>Childs Gender</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select ng-options="item.name for item in selectBehaviorFilter" ng-model="letterData.behaviorToShow" name="field_behavior">
                                    <option value="" disabled hidden selected>Who Could Report The Childs Behavior?</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <select ng-options="item.name for item in selectPrefixFilter" ng-model="letterData.prefixToShow" name="present_prefix" class="field-select">
                                    <option value="" selected hidden disabled>---</option>
                                </select>
                                <input ng-model="letterData.presentType" class="field-input" type="text" placeholder="A gift the Child has asked Santa for" onfocus="this.placeholder = ''" onblur="this.placeholder = 'A gift the Child has asked Santa for'" name="">

                                <select ng-options="item.name for item in selectFriendFilter" ng-model="letterData.friendToShow" name="friend_type" class="field-select">
                                    <option value="" selected hidden disabled>---</option>
                                </select>
                                <input ng-model="letterData.friendName" class="field-input" type="text" placeholder="Childs friend, pet, sibling, or teacher name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Childs friend, pet, sibling, or teacher name'" name="">
                            </div>

                            <select ng-options="item.name for item in selectEventFilter" name="event" ng-model="letterData.paragraphToShow">
                                <option value="" disabled hidden selected>Select an event that occurred in the past 12 months</option>
                            </select>
                        </div>
                    </form>
                    <!-- // End container-->
                </div>
                <button ng-click="saveOrderData({letterData: letterData});" ui-sref="letterApproval" class="letterCreate-button red btn-block" type="submit">
                    <span>To Letter Approval</span>
                    <i class="ionicons ion-arrow-right-a"></i>
                </button>
            </div>
    </div>
  </div>
</div>

<!--NOTE: Remove these for production-->
<pre>{{letterData}}</pre>
<pre>{{order}}</pre>


<!-- This code can be used for a later date. This shows letterhead types and when the user clicks it, the letterhead behind the form changes. I am going to use just a traditional form for now instead -->
<!-- <div id="letterCreate"> -->
<!-- <section class="container content-section text-right"> -->
<!-- <div class="container-fluid"> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-3">
                    <img class="img-responsive" src="img/scLetterHead.jpg" ng-click="current='scLetterHead'"/>
                    <img class="img-responsive" src="img/scLetterHead2.jpg" ng-click="current='scLetterHead2'"/>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="img/scLetterHead3.jpg" ng-click="current='scLetterHead3'"/>
                    <img class="img-responsive" src="img/scLetterHead4.jpg" ng-click="current='scLetterHead4'"/>
                </div> -->
<!-- <div class="col-md-9"> -->
<!-- <form id="responsiveForm"> -->
<!-- <img class="img-responsive" ng-src="img/{{current}}.jpg"/> -->
<!-- <div class="form-inner-cont">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" name="email"/>
                        </div>
                        <div class="form-group">
                            <label for="occasion">Occasion:</label>
                            <input type="text" class="form-control" id="occasion" name="occasion"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="form-control btn btn-primary" value="go"/>
                        </div>
                      </div> -->

<!-- </div> -->
<!-- </form> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </section> -->
