<!-- Ornament Header -->
<div ng-include="'views/ornamentTemp.html'"></div>
<!-- TODO Need to get the data that is stored in the letterCreateSrv to display on the letter overview. Do i need to combine these in order to do the print PDF thing? NOTE ask Gunnar. -->
<!-- TODO Add a button that takes them to the userCart -->

<div id="letter-approval">
    <div class="row letter-workshop-header text-center">
        <h2>Does
            <span class="highlight">Santa's</span>
            letter get your approval?</h2>
        <p>Please look over your letter carefully before santa gets it in the mail!</p>
        <hr>
    </div>
    <div id="letter-overview">
        <img class="img-responsive img-shadow" ng-src="img/scLetterHead.jpg"/>
        <div class="container">
            <div class="approval-content-wrapper">
                <p>Dear
                    {{childName}},</p>

                <p>Ho, Ho, Ho, Merry Christmas!
                    {{ageToShow}}</p>

                <p>Your
                    {{behaviorToShow}}
                    told me you’ve been a very good
                    {{genderToShow.gender}}
                    this year, and that you would like
                    {{prefixToShow}}
                    {{presentType}}
                    for Christmas. Well, I can’t promise every child will get what they ask for, but I can assure you, you’ll have a wonderful Christmas with your kind, loving family.</p>

                <p>{{childName}}, I was walking through the toy workshop earlier today, when I saw The Elves wrapping a present for your
                    {{friendToShow}},
                    {{friendName}}. I can’t tell you what I saw them wrapping because it will spoil the surprise but I can guarantee that
                    {{friendName}}
                    will be delighted with it on Christmas morning!</p>

                <p>{{paragraphToShow}}</p>

                <p>{{childName}}, make sure you get to bed nice and early on Christmas Eve because Rudolph just showed me the route we’ll be flying, and guess where we’ll be coming? That’s right, to your house!</p>

                <p>Merry Christmas!<br>
                    Love,<br>
                    Santa Claus</p>
            </div>
        </div>
        <button ui-sref="letterCreate" class="approval-button red btn-block btn" type="submit">
            <span>Back To Package Select &amp; Letter Creation</span>
            <i class="ionicons ion-arrow-left-a"></i>
        </button>
        <button ui-sref="userCheckout" class="approval-button red btn-block btn" type="submit">
            <span>To Order Details &amp; Checkout</span>
            <i class="ionicons ion-android-cart"></i>
        </button>
    </div>
</div>
