<div id="letterTypes" class="container">
      <div class="row">
        <h3>Choose your letterhead</h3>
        <div class="col-xs-2"w>
          <img class="img-responsive" src="img/scLetterHead.jpg" ng-click="current='scLetterHead'" />
          <img class="img-responsive" src="img/scLetterHead2.jpg"  ng-click="current='scLetterHead2'" />
        </div>
        <div class="col-xs-2">
          <img class="img-responsive" src="img/scLetterHead3.jpg" ng-click="current='scLetterHead3'"/>
          <img class="img-responsive" src="img/scLetterHead4.jpg" ng-click="current='scLetterHead4'"/>
        </div>
        <div class="col-xs-6">
          <img class="img-responsive" ng-src="img/{{current}}.jpg" />
        </div>
        </div>
        <div class="row">
          <div class="col-xs-4 letterbtn-container">
            <a ui-sref="letterForm" class="btn btn-danger btn-block btn-letterType">Next <i class="ion-arrow-right-b"></i></a>
          </div>
      </div>
    </div>
<!-- TODO Make a next button that takes user to form view to fill out letter and it types as it goes or make the letter they choose the actual form and they fill out certain parts that save to DB and then the letter is written and sent to user -->
