    <!-- Ornaments Header Pagination-->
<div id="ornament-wrapper">
    <div class="row ornament-container">
        <!--- red ball--->
        <div class="ball-wrapper col-md-3">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="red-ball"></div>
        </div>


        <!---green ball-->
        <div class="ball-wrapper col-md-3">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="green-ball"></div>
        </div>


        <!--blue ball-->
        <div class="ball-wrapper col-md-3">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="red-ball"></div>
        </div>


        <!--white ball-->
        <div class="ball-wrapper col-md-3">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="green-ball"></div>
        </div>
    </div> <!-- Row End -->
</div>
