<div class="row">
    <!-- Ornaments Header Pagination-->
    <div id="the-wrap">
        <!--- red ball--->
        <div class="ball-wrapper">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="red-ball"></div>
        </div>
        <!--end of wrapper-->

        <!---green ball-->
        <div class="ball-wrapper">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="green-ball"></div>
        </div>
        <!--end of wrapper-->

        <!--blue ball-->
        <div class="ball-wrapper">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="blue-ball"></div>
        </div>
        <!--end of wrapper-->

        <!--white ball-->
        <div class="ball-wrapper">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="white-ball"></div>
        </div><!--End of Wrapper-->
    </div>
  </div>
  <!-- End of Ornament Row -->
