    <!-- Ornaments Header Pagination-->
<div id="ornament-wrapper">
    <div class="row ornament-container">
        <!--- red ball--->
        <div class="ball-wrapper col-md-3">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="red-ball">
              <div class="ornament-pagination-cont">
                  <div class="ornament-pagination">
                      <p class="ornament-pagination-p">Details and Delivery Information</p>
                  </div>
              </div>
          </div>
        </div>


        <!---green ball-->
        <div class="ball-wrapper col-md-3">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="green-ball">
              <div class="ornament-pagination-cont">
                  <div class="ornament-pagination">
                      <p class="ornament-pagination-p">Letter Select and Personalization</p>
                  </div>
              </div>
            </div>
        </div>


        <!--blue ball-->
        <div class="ball-wrapper col-md-3">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="red-ball">
              <div class="ornament-pagination-cont">
                  <div class="ornament-pagination">
                      <p class="ornament-pagination-p">Order Review and Letter Approval</p>
                  </div>
              </div>
            </div>
        </div>


        <!--white ball-->
        <div class="ball-wrapper col-md-3">
            <div class="string"></div>
            <div class="ring"></div>
            <div class="button"></div>
            <div class="green-ball">
              <div class="ornament-pagination-cont">
                  <div class="ornament-pagination">
                      <p class="ornament-pagination-p">Order Details and Checkout</p>
                  </div>
              </div>
            </div>
        </div>
    </div> <!-- Row End -->
</div>
