<!-- TODO Need to make it so when user clicks on each product, it goes into single product page-->
<div id="products" class="container">
  <div class="row moreitems">
            <div class="col-md-6" ng-repeat="product in products" ui-sref="productDetail({id: product.product_id})">
                <!--List Product Image End-->
                <div class="col-md-4 text-center">
                        <p class="product-img">{{product.product_image}}</p>
                    </a>
                </div><!--List Product Image End-->

                <!--List Product Description-->
                <div class="col-md-8">
                    <h4>{{product.product_name}}</h4>
                    <p>{{product.product_desc}}</p>
                    <p><span class="highlight">{{product.product_price | currency}}</span></p>
                </div>
            </div>
    </div><!--List Product Section End-->
