<div id="product-detail" class="row">
            <div class="col-md-5 text-center">
                <a href="">
                    <!-- <img class="productimg" src="" alt=""> -->
                </a>
            </div><!--Product Img End-->

            <!--product Details-->
            <div class="col-md-7">
                <h4><a href="">{{productID.product_name}}</a></h4>

                <p>{{productID.product_desc}}</p>

                <p><span class="highlight">{{productID.product_price | currency}}</span></p>
                <a href="" class="btn btn-default">Add To Cart</a>
            </div><!--Item Description End-->
        </div>
        <!-- Product End -->
