<!-- Ornament Header -->
<div ng-include="'views/ornamentTemp.html'"></div>


<!-- Client Forms Start-->
<div id="userDetails" class="container">
  <div id="container" class="left-form">
    <h1 class="form-header">&bull; Deets &bull;</h1>
    <h3 class="form-header">Tell us about <span class="highlight">YOU</span>, not about the letter recipient</h3>
    <div class="underline">
    </div>
    <div class="icon_wrapper">
    </div>
    <form class="userDetails-form">
      <div class="name">

        <input ng-model="customerData.first_name" class="userDetails-input" type="text" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" name="name" id="name_input" >
      </div>
      <div class="name">

        <input ng-model="customerData.last_name" class="userDetails-input" type="text" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" name="name" id="name_input" >
      </div>
      <div class="email">

        <input ng-model="customerData.email" class="userDetails-input" type="text" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" >
      </div>
      <div class="email">

        <input class="userDetails-input" type="text" placeholder="Confirm Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Email'" name="email" id="email_input" >
      </div>
      <div class="telephone">

        <input ng-model="customerData.phone_number" class="userDetails-input" type="text" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" name="telephone" id="telephone_input" >
      </div>
    <!-- </form><!-End form -->
  </div><!--End #container -->


  <div id="container">
    <h1 class="form-header">&bull; Delivery &bull;</h1><br>
    <h3 class="form-header">Where should <span class="highlight">Santa</span> send it?</h3>
    <div class="underline">
    </div>
    <div class="icon_wrapper">
    </div>
    <!-- <form class="userDetails-form"> -->
      <div class="address">

        <input ng-model="customerData.mailing_adress1" class="userDetails-input" type="text" placeholder="Address 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address 1'" name="address1" id="address_input" >
      </div>
      <div class="address">

        <input ng-model="customerData.mailing_adress2" class="userDetails-input" type="text" placeholder="Address 2 (Apt, Ste, Lot, etc.)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address 2 (Apt, Ste, Lot, etc.)'" name="address2" id="address_input" >
      </div>
      <div class="address">

        <input ng-model="customerData.mailing_city" class="userDetails-input" type="text" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" name="city" id="address_input" >
      </div>
      <div class="address">

        <input ng-model="customerData.mailing_state" class="userDetails-input" type="text" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'" name="" id="address_input" >
      </div>
      <div class="zip">

        <input ng-model="customerData.mailing_zip" class="userDetails-input" type="text" placeholder="Zip Code" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Zip Code'" name="country" id="telephone_input" >
      </div>
      <button ng-click="saveCustomerData(customerData)" ui-sref="letterTypes" class="snip1086 red" type="submit" ><span>Next</span><i class="ion-arrow-right-c"></i></button>
    </form><!-- // End form -->
  </div><!-- // End container-->
</div>
