<!-- Ornament Header -->
<div ng-include="'views/ornamentTemp.html'"></div>

<!-- TODO Add final order details -->
<!-- TODO Accept CC payment -->
<!-- TODO Accept Paypal -->
<!-- TODO Implement Stripe? -->

<div id="userCheckout" class="container">
        <div class="row">
            <form class="form-horizontal">
                <!--User Billing Form Start-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                    <div id="container">
                        <h1 class="form-header">&bull; Billing Deets &bull;</h1>
                        <h3 class="form-header">Where should <span class="highlight"> Santa</span> send the bill?</h3>
                        <div class="underline"></div>
                        <div class="userDetails-form">
                            <div class="form-group">
                                <div class="col-md-9">
                                    <input ng-model="customerData.billing_address1" type="text" name="address" class="userCheckout-input" placeholder="Billing Address 1" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Address 1'"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                    <input ng-model="customerData.billing_address2" type="text" name="address" class="userCheckout-input" value="" placeholder="Billing Address 2" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Address 2'" id="name_input"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                    <input ng-model="customerData.billing_city" type="text" name="city" class="userCheckout-input" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <input ng-model="customerData.billing_state" type="text" name="state" class="userCheckout-input" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <input ng-model="customerData.billing_zip" type="text" name="zip_code" class="userCheckout-input" placeholder="Zip" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Zip Name'"/>
                                </div>
                                <button ng-click="saveFinalCustomer(customerData)" class="animate-green-button" type="submit" ><span>Checkout</span><i class="ion-checkmark"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--User Billing Form End-->


<!-- TODO Add final order details -->
                <!--Order Details Start-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                    <div class="panel order-deets">
                        <div class="panel-body">
                            <h1 class="form-header">&bull; Order Deets &bull;</h1>
                            <div class="underline"></div>
                            <div class="icon_wrapper"></div>
                            <div class="form-group"><hr/></div>
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3" ng-repeat="cartItem in cart track by $index">
                                    <img class="img-responsive" ng-src="{{product.product_image}}"/>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="col-xs-12">{{cartItem.product_name}}</div>
                                </div>
                                <div class="col-sm-3 col-xs-3 text-right">
                                    <h6>{{cartItem.product_price | currency}}</h6>
                                </div>
                            </div>
                            <div class="form-group"><hr/></div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <strong>Subtotal</strong>
                                    <div class="pull-right">
                                      <span>{{subTotal() | currency}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <small>Tax</small>
                                    <div class="pull-right">
                                        <span>{{taxCalc() | currency}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><hr/></div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <strong>Order Total</strong>
                                    <div class="pull-right">
                                      <span>{{total() | currency}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Order Details End-->
            </form>
        </div>
</div>
