/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 120px;
    }
    h3 {
        font-size: 20px;
    }
    .sectionhead {
        padding: 0 75px;
    }
    .action-prompt img {
        margin-left: -60px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 980px) {
    body {
        text-align: center;
    }
    h1 {
        font-size: 110px;
    }
    h3 {
        font-size: 18px;
    }
    .sectionhead {
        padding: 0;
    }
    .action-prompt img {
        margin-left: 0px;
    }
    .product-img {
        margin-bottom: 20px;
    }
    #the-wrap {
      display: none;
    }
}

/* Smaller Devices */
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 95px;
    }
    h3 {
        font-size: 16px;
        margin: 0px;
    }
    .btn-reverse {
        padding: 15px 50px;
    }
    #main {
        height: 500px;
    }
    #the-wrap {
      display: none;
    }
}

/* Mobile Devices */
@media only screen and (max-width: 640px) {
    h1 {
        font-size: 75px;
    }
    h3 {
        font-size: 13px;
        margin: 0px;
    }
    .btn-reverse {
        padding: 10px 20px;
    }
    #main {
        height: 360px;
    }
    #main .container {
        padding-top: 30px;
    }
    #main p {
        padding-top: 60px;
    }
    .mistletoe {
        height: 160px;
        margin-top: -25px;
    }
    input,
    .btn-inverse {
        padding: 15px 30px;
        width: 85%;
        margin: 20px 0 0 0;
    }

    #the-wrap {
      display: none;
    }
}

/* Smaller Mobile Devices */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 12px;
        margin: 0px;
    }
    .sectionhead p {
        font-size: 14px;
    }
    #main {
        height: 320px;
    }
    #main .btn {
        margin-top: 10px;
    }
    .action-prompt img {
        max-width: 100%;
    }
    .logo {
        font-size: 28px;
    }
    #the-wrap {
      display: none;
    }
}

/* Even Smaller Mobile Devices */
@media only screen and (max-width: 360px) {
    h1 {
        font-size: 50px;
    }
    .btn-reverse {
        padding: 10px;
    }
    #main .container {
        padding-top: 50px;
    }
    .mistletoe {
        margin-top: -50px;
    }
    #the-wrap {
      display: none;
    }
}

/* Smallest Mobile Devices */
@media only screen and (max-width: 320px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 17px;
    }
    #main p {
        padding-top: 40px;
    }
    #overview {
        padding-top: 50px;
    }
    .mistletoe {
        margin-top: -30px;
    }
    #the-wrap {
      display: none;
    }
}

/*Shopping Cart Responsive*/
