/*///////////////////////*/
/*///GENERAL STYLES///*/
/*//////////////////////*/

#snow {
margin-top: -82px;
fill: #FFF;
stroke: #fff;
}

html {
  min-height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
  position: relative;
  padding-bottom: 200px;
}

a {
  color: #000;
}

a:hover {
    color: #F53F2C;
    text-decoration: none;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

a:visited{
    text-decoration: none
}

.highlight {
  color: #D9534F;
}

.logo-highlight {
  color: #F53F2C;
}

h1 {
  font-size: 138px;
}
h2 {
  font-family: 'Pacifico', cursive;
}
h4 {
  font-weight: 600;
}

p {
    font-size: 13px;
    line-height: 1.7em;
    color: #B2B2B2;
}

/*///////////////////////*/
/*////HOME OVERLAY/////*/
/*//////////////////////*/

.lightoverlay {
    background-color: rgba(248, 248, 248, 0.9);
    position: relative;
}

/*/////////////////////////*/
/*///SECTION HEADINGS///*/
/*////////////////////////*/

.sectionhead {
  padding: 0 150px;
}
.sectionhead h2 {
  padding-bottom: 10px;
}

.sectionhead p {
    font-size: 16px;
    line-height: 1.6em;
}

.sectionhead hr {
    width: 100px;
    border-bottom: 4px solid #EEE;
}

/*////////////////*/
/*///NAVBAR///*/
/*///////////////*/

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}

/*Shopping Cart*/

/*.cart-img {
  margin-bottom: -15px;
  margin-top: -11px;
}*/

/*.cartimg-width{
  width: 107px;
}*/

/*.badge {
  background-color: #D9534F;
  font-size: 12px;
  font-weight: 600;
}*/


/*//////////////////////*/
/*////HOME VIEW///////*/
/*/////////////////////*/

/* Main Section */
#main {
    text-align: center;
    height: 560px;
    color: #FFF;
    background: url(../img/slBackground.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#main .container {
  padding-top: 70px;
}

#main h1 {
  font-weight: 800;
  text-transform: uppercase;
  line-height: .8em;
  text-shadow: 6px 4px 5px rgba(161, 19, 15, 0.294);
}

#main h2 {
  text-shadow: 2px 2px 0px #000;
}

#main p {
  text-transform: uppercase;
  padding-top: 50px;
  color: #FFF;
  text-shadow: 1px 2px 0px #000;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.home-santa {
    float: right;
    margin-top: -390px;
}

/* Overview Section */
#overview {
    text-align: center;
    padding-top: 100px;
}

.letter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-letters {
  margin-left: 30px;
  margin-bottom: 10px;
}

/* Action Prompt Section */
.action-prompt {
    margin-top: 75px;
    background: url(../img/slBackground.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.action-prompt .content {
  padding: 65px 0;
}

.action-prompt p {
  color: #9F9F9F;
}

.action-prompt img {
    margin-top: 50px;
}

button.home-button {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  float: right;
  background-color: #D9534F;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  padding: 10px 40px;
  display: inline-block;
  margin: 15px 5px;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button.home-button span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
button.home-button i {
  font-size: 28px;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.home-button:before {
  border-radius: 3px;
  content: '';
  top: 3px;
  bottom: 3px;
  left: 50%;
  right: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

button.home-button:hover.red,
button.home-button.hover.red {
  color: #5CB85C;
}

button.home-button:hover span,
button.home-button.hover span {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.home-button:hover i,
button.home-button.hover i {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.home-button:hover:before,
button.home-button.hover:before {
  left: 3px;
  right: 3px;
  background: #FFF;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.home-button:active:before {
  background: rgba(255, 255, 255, 0.7);
}



/*///////////////////////*/
/*//USER DETAILS VIEW//*/
/*//////////////////////*/
#userDetails {
  padding-top: 100px;
}

/*Form*/
#container {
  border: solid 3px #474544;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 4px;
}

.userDetails-input {
  line-height: normal;
}

.userDetails-form {
  padding: 37.5px;
  margin: 25px 0;
}

.form-header {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 120px;
  padding-top: 20px;
}

input[type='text'], [type='email'], select {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0.417em;
  text-transform: uppercase;
	width: 100%;
}

input[type='text']:focus, [type='email']:focus, select:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.name, .address {
  width: 100%;
}

.telephone, .zip{
	float: left;
	width: 45%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder {
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}


button.userDetails-button {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #5CB85C;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  padding: 10px 40px;
  display: inline-block;
  margin: 15px 5px;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button.userDetails-button span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
button.userDetails-button i {
  font-size: 28px;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.userDetails-button:before {
  border-radius: 3px;
  content: '';
  top: 3px;
  bottom: 3px;
  left: 50%;
  right: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

button.userDetails-button:hover.red,
button.userDetails-button.hover.red {
  color: #D9534F;
}

button.userDetails-button:hover span,
button.userDetails-button.hover span {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.userDetails-button:hover i,
button.userDetails-button.hover i {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.userDetails-button:hover:before,
button.userDetails-button.hover:before {
  left: 3px;
  right: 3px;
  background: #FFF;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.userDetails-button:active:before {
  background: rgba(255, 255, 255, 0.7);
}

/*///////////////////////*/
/*///LETTER CREATE VIEW///*/
/*//////////////////////*/
/*#letterCreate {
  padding-top: 100px;
}*/

#letter-workshop hr {
  width: 100px;
  border-bottom: 4px solid #EEE;
}

.letter-workshop-header {
  padding-bottom: 50px;
}

/*/////////////*/
/*///Products///*/
#products {
  padding-top: 100px;
}

#products hr {
  width: 100px;
  border-bottom: 4px solid #EEE;
}

/*Letter Package List*/
.clear
{
    clear: both;
}

.product-chooser{
    margin-right: 0;
}

.product-chooser .product-chooser-item{
  padding: 11px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  border: 1px solid #efefef;
  margin-bottom: 10px;
  margin-left: 10px;
}

.product-chooser-item.selected-product {
  border: 4px solid #D9534F;
  background: #efefef;
  padding: 8px;
  filter: alpha(opacity=100);
  opacity: 1;
  box-sizing: border-box;
}

.product-chooser .product-chooser-item img {
  padding: 0;
}

.title {
  display: block;
  margin: 10px 0 5px 0;
  font-weight: bold;
  font-size: 12px;
}

.description {
  font-size: 12px;
}

.product-chooser .product-chooser-item input {
  position: absolute;
  left: 0;
  top: 0;
  visibility:hidden;
}

.btn-product-detail {
  border-radius: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.img-shadow {
  box-shadow: 5px 5px 5px #888888;
}

.letter-workshop-header {
  padding-bottom: 15px;
  margin-top: 10px
}

/*Santa Question Form*/
#santaQ-container {
  border: solid 3px #474544;
  margin-top: 50px;
  box-shadow: 5px 5px 5px #888888;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.field-select{
  width: 28%;
}

.field-input {
  float: right !important;
  width: 69%  !important;
}

.field-input-age {
  width: 69%;
  margin-right: 16px;
}

#personalized-letter {
  margin-top: 50px;
}

.personalized-content-wrapper {
  position: absolute;
  z-index: 10;
  top: 20%;
  padding: 0 10% 0 10%;
}

#personalized-letter p {
  color: #000;
  font-family: 'Cookie', cursive;
  font-size: 23px;
}

button.letterCreate-button {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #5CB85C;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  padding: 10px 40px;
  display: inline-block;
  margin: 15px 5px;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button.letterCreate-button span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
button.letterCreate-button i {
  font-size: 28px;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.letterCreate-button:before {
  border-radius: 3px;
  content: '';
  top: 3px;
  bottom: 3px;
  left: 50%;
  right: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

button.letterCreate-button:hover.red,
button.letterCreate-button.hover.red {
  color: #D9534F;
}

button.letterCreate-button:hover span,
button.letterCreate-button.hover span {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.letterCreate-button:hover i,
button.letterCreate-button.hover i {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.letterCreate-button:hover:before,
button.letterCreate-button.hover:before {
  left: 3px;
  right: 3px;
  background: #FFF;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.letterCreate-button:active:before {
  background: rgba(255, 255, 255, 0.7);
}

/*////////////////////////////*/
/*///LETTER APPROVAL VIEW//*/
/*///////////////////////////*/

#letter-approval {
  width: 850px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

#letter-approval hr {
  width: 100px;
  border-bottom: 4px solid #EEE;
}

#letter-overview p {
  color: #000;
  font-family: 'Cookie', cursive;
  font-size: 23px;
}


.approval-content-wrapper {
  position: absolute;
  z-index: 10;
  top: 20%;
  padding: 0 5% 0 5%;
}

button.approval-button {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #5CB85C;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  padding: 10px 40px;
  display: inline-block;
  margin: 15px 5px;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button.approval-button span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
button.approval-button i {
  font-size: 28px;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.approval-button:before {
  border-radius: 3px;
  content: '';
  top: 3px;
  bottom: 3px;
  left: 50%;
  right: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

button.approval-button:hover.red,
button.approval-button.hover.red {
  color: #D9534F;
}

button.approval-button:hover span,
button.approval-button.hover span {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.approval-button:hover i,
button.approval-button.hover i {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.approval-button:hover:before,
button.approval-button.hover:before {
  left: 3px;
  right: 3px;
  background: #FFF;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.approval-button:active:before {
  background: rgba(255, 255, 255, 0.7);
}



/*//////////////////////*/
/*////CHECKOUT VIEW////*/
/*////////////////////*/
#userCheckout {
  padding-top: 30px;
}

.userCheckout-input {
  padding: 37.5px;
  margin: 50px 0;
}

.order-deets {
  border: solid 3px #474544;
  box-shadow: 5px 5px 5px #888888;
  margin-top: 25px;
}


/*/////////////////////*/
/*/////ABOUT VIEW/////*/
/*///////////////////*/
#about {
  padding-top: 100px;
}

/* Footer */
footer {
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  height: 70px;
}
.logo {
  margin-top: -20px;
}

footer hr {
    width: 100px;
    border-bottom: 4px solid #EEE;
    margin-top: 5px;
}

.footer-icons {
  font-size: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

/*Ornaments Pagination*/
#ornament-wrapper{
  margin-top: 50px;
}

.ornament-container {
  margin-left: 200px;
}

.ornament-pagination {
  vertical-align: middle;
  padding: 45px 0;
}

#ornament-wrapper a:visited {
  text-decoration: none;
  color: #FFF;
}

.ornament-pagination-p {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.ring{
  height:15px;
  width: 5px;
  background-color: ##C03636;
  border: 2px solid  #F99D24;
  border-radius: 45%;
  position: relative;
  left: 76.4px;
  top: 12px;
}

.string {
  width: 1.5px;
  position: relative;
  background-color: #F99D24;
  height: 52px;
  left: 78px;
  top: 14.4px;
  margin-top: -23px;
}
.button {
  height: 22px;
  width: 30px;
  background-color: #F99D24;
  position: relative;
  left: 65px;
  top: 7px;
  border-radius: 4px;
}

.red-ball {
  background-color: #D9534F;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  left: 3px;
}

.green-ball {
  background-color: #5CB85C;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  left: 3px;
}
